@media (max-width: 1080px) {
    .top-wrapper {
      width: 50%;
      margin-bottom: 50px;
    }
    .top-wrapper h1 {
      font-size: 32px;
    }
    .heading h2 {
      font-size: 20px;
    }
    table :link {
      width: 100%;
    }
    table {
      width: 100%;
    }
  }
@media (max-width: 670px) {
    table {
      width: 100%;
    }
    footer {
      text-align: center;
    }
    table :link {
      width: 100%;
    }
    .top-wrapper {
      text-align: center;
      padding-top: 130px;
    }
    .top-wrapper h1 {
      font-size: 50px;
      line-height: 36px;
    }
    .top-wrapper h2 {
      font-size: 10px;
      line-height: 36px;
    }
    .top-wrapper p {
      font-size: 15px;
      line-height: 20px;
    }
    .header-right {
      display: none;
    }
}


