*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
  }
  body {
    font-family: "Lucida Grande";
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("Background.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  header {
    height: 80px;
    width: 100%;
    top: opx;
    background-color: teal;
    position: fixed;
    opacity: 0.9;
    padding-top: 10px;
  }
  .quick-links {
      line-height: 65px;
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      margin: auto;
      float: right;
  }
  .quick-links ul {
      display: flex;
  }
  .quick-items {
      list-style: none;
  }
  .quick-items a {
      text-decoration: none;
      padding: 0px 15px;
      font-size: 25px;
      color: black;
  }
  .quick-items a:hover{
      color: wheat;
  }
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    
  }
  
  .top-wrapper {
    padding: 190px 0 250px 0;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1{
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
  }
  .top-wrapper h2{
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  .top-wrapper p {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: garamond;
  }
  
  table{
      align-content: center;
      font-size: 40px;
      background-color: rgb(63, 57, 49);
      opacity: 0.8;
      padding: 40px 40px;
      align-items: center;
      border-collapse: collapse;
      width: 100%;
  }
  th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  tr:hover{
    background-color: rgb(27, 19, 3);
  }
  th {
    background-color: rgb(240, 153, 22);
    color: white;
  }
  td {
    text-align: center;
  }
  table td a:visited {
    color: rgb(240, 153, 22);
    padding: 15px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  td a:hover, a:active {
    background-color: rgb(49, 48, 45);
  }
  
  footer{
    display: grid;
    position: fixed;
    bottom: 0px;
    width: 100%;
    place-items: center;
    background: teal;
    opacity: 0.9;
    padding-top: 50px;
    padding-bottom: 20px;
  
  }
  .foot-wrapper .button{
    display: inline-flex;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    color : black;
    background: orange;
  }
  .foot-wrapper .button:hover{
    width: 200px;
   
  }
  .foot-wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .foot-wrapper .button:nth-child(1):hover .icon{
    background: #130b5a9a;
  }
  .foot-wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .foot-wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .foot-wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .foot-wrapper .button .icon i{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .foot-wrapper .button:hover .icon i{
    color: #fff;
  }
  .foot-wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .foot-wrapper .button:nth-child(1) span{
    color: #130b5a9a;
  }
  .foot-wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .foot-wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .foot-wrapper .button:nth-child(4) span{
    color: #ff0000;
  }
  .foot-container p{
    place-items: center;
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding-top: 10px;
  }
  @media (max-width: 1080px) {
    .item {
      width: 50%;
    }
  }

  @media (max-width: 670px) {
    .item {
      width: 100%;
    }
  }